@import '../../assets/styles/variables';

.itemsServicesGroups {
  width: 40%;
  margin: 0 5% 3rem 5%;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
  color: $black;
  &_img{
    height: 10.8rem;
    width: 100%;
  }
  &_text{
    padding: 1rem;
    height: 10.5rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
    display: none;
  }
    &_title{
      font-size: 2rem;
    }
    &_para{
      margin-top: .5rem;
      font-family: $Poppins;
      font-weight: 500;
      font-size: 1.2rem;
    }
  }
}
