@import '../../assets/styles/variables';

.header{
    width: 100%;
    height: 6%;
    position: relative;
    &_main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: $white;
        padding: 0px 15px 0px 15px;
        & p{
            font-weight: 600;
            font-size: 2rem;
        }
        & i:hover{
            cursor: pointer;
        }
    }
    &_menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        background-color: $white;
        padding: 0px 15px 0px 15px;
        transition: all .5s;
        & a{
            text-decoration: none;
            color: $black;
            font-weight: 500;
            font-size: 1.5rem;
            transition: all .2s;
        }
        &_signup{
            padding: 10px;
            background-color: $green;
            border-radius: 100px;
        }
        &_signin{
            padding: 10px;
            background-color: $blue;
            border-radius: 100px;
        }
    }
}