@import '../../assets/styles/variables';

.header{
    width: 100%;
    height: 6%;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    & p{
        font-weight: 600;
        font-size: 2rem;
    }
}