@import '../../assets/styles/variables';

.header {
  width: 45rem;
  height: 6rem;
  position: fixed;
  z-index: 1000;
  &_main {
    border-bottom: 2px #ebebeb solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: $white;
    padding: 0 1.5rem 0 1.5rem;
    &_title {
      font-weight: 600;
      font-size: 2rem;
      text-decoration: none;
      color: $blue;
    }
    & i {
      cursor: pointer;
    }
  }
  &_menu {
    border-bottom: 2px #ebebeb solid;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: $white;
    padding: 0 1.5rem 0 1.5rem;
    transition: all 0.5s;
    overflow: hidden;
    font-family: $Poppins;
    & a,
    p {
      text-decoration: none;
      font-weight: 500;
      font-size: 2rem;
      transition: all 0.3s;
      padding: .5rem .9rem;
    }
    &_top {
      margin-top: 1rem;
      display: flex;
      width: 100%;
      justify-content: space-around;
      & a {
        color: $black;
        &:hover {
          transform: translateY(1px);
        }
      }
    }
    &_bot {
      margin: 2rem 0;
      display: flex;
      width: 100%;
      justify-content: space-around;
      font-family: $Unbounded;
      &_signUp {
        width: 13rem;
        text-align: center;
        padding: 0.5rem 0.7rem;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        color: $blue;
        cursor: pointer;
        user-select: none;
        &:hover {
          transform: translateY(1px);
        }
      }
      &_signIn {
        width: 13rem;
        text-align: center;
        padding: 0.5rem 0.7rem;
        background-color: $blue;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        color: $white;
        cursor: pointer;
        user-select: none;
        &:hover {
          transform: translateY(1px);
        }
      }
    }
  }
}

a.active {
  color: $blue;
  font-weight: 700;
}
