@import '../../assets/styles/variables';

.login{
    display: flex;
    width: 40.5rem;
    height: 500px;
    background-color: $white;
    position: fixed;
    z-index: 10000;
    margin-left: 22.5px;
    top: 50%;
    transform: translateY(100%);
    transition: all .5s;
    border-radius: 1rem;
}