@import './assets/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: $Unbounded;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(45, 45, 45);
}

.App{
  width: 450px;
  height: 100%;
  background-color: $grey;
}